# ============================================================
# NOTE: This is a DEVELOPMENT/SETUP version only.
# Never push this file to Git.
# ============================================================

APP_NAME=Signature Verification and Forgery Detection API
DEBUG=True
MODEL_PATH=model/siamese_aucxxxx.pth
ALLOWED_ORIGINS=http://localhost:5173/